<div class="slider-layer">
    <div id="slider-one" class="owl-carousel">
        <div class="item">
            <a href=""><img src="/Content/img/Slider1.jpg" title="تست عنوان"></a>
        </div>
        <div class="item">
            <a href=""><img src="/Content/img/Slider2.jpg" title="تست عنوان"></a>
        </div>
    </div>
</div>
